<footer class="footer">
    <div class="empty-div"></div>
    <div class="footer-banner">
      <div class="logo-socal_holder">
        <nav id="footer-nav">
          <div class="logo" id="logo">
            <img
              src="../source/image/28058468-designstyle-balance-l.png"
              alt="logo"
            />
            <div class="name">
              <h2>Riyaz M.</h2>
              <p>Front-end developer</p>
            </div>
          </div>
        </nav>
        <div class="soceal">
          <a href="https://facebook.com/riaj.mazumder.7" target="_blank"
            ><i class="fab fa-facebook"></i></a
          ><a href="https://twitter.com/Riaj17827808" target="_blank"
            ><i class="fab fa-twitter"></i></a
          ><a href="https://www.instagram.com/riyazmajumar/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <div id="work-together">
        <a href="./Html/contact.min.html"
          ><h2>
            Let's work together<i class="fas fa-long-arrow-alt-right"></i></h2
        ></a>
      </div>
    </div>
    <div id="up">
      <a id="toArrow" href="#top"><i class="far fa-long-arrow-alt-up"></i></a>
    </div>
  </footer>